<hr>

<footer>
    <h2>About</h2>
    <p>rangeslider.js is a project by</p>
    <div class="img-circular">
        <img src="https://pbs.twimg.com/profile_images/3645750784/a9398e0e936f7e96a1ded7763d64bed9.jpeg">
    </div>
    <p><a href="https://github.com/andreruffert">André Ruffert</a></p>

    <a href="https://twitter.com/andreruffert" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @andreruffert</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p><a href="https://github.com/andreruffert/rangeslider.js/graphs/contributors">& contributors</a>.</p>
    <p><small>Open Source FTW! <3</small></p>
</footer>
