<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {% if page.title == "rangeslider.js" %}
        {{ page.title }}
    {% else %}
        {{ page.title }} &middot; rangeslider.js
    {% endif %}
    </title>
    <meta name="description" content="Simple, small and fast HTML5 input range slider element polyfill">
    <meta name="keywords" content="rangeslider.js, rangesliderjs, polyfill, html5, input type range, range, slider">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="André Ruffert">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//secure.gravatar.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//syndication.twitter.com">
    <style>
    {% capture include_to_scssify %}
        {% include scss/_layout.scss %}
        {% include scss/_highlight.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
    .rangeslider__handle { width: 42px; }
    </style>
    <script>
        {% include js/loadCSS.js %}
        loadCSS('{{ site.baseurl }}/assets/rangeslider.js/dist/rangeslider.css');
    </script>
    <!--[if lt IE 9]>
        <script src="{{ site.baseurl }}/assets/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
