<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title == "rangeslider.js" %}
            {{ page.title }}
        {% else %}
            {{ page.title }} &middot; rangeslider.js
        {% endif %}
    </title>
    <meta name="description" content="Simple, small and fast HTML5 input range slider element polyfill">
    <meta name="keywords" content="rangeslider.js, rangesliderjs, polyfill, html5, input type range, range, slider">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="André Ruffert">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//pbs.twimg.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="bower_components/rangeslider.js/dist/rangeslider.css">
    <!--[if lt IE 9]>
        <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>

<!--
     ."".    ."",
     |  |   /  /
     |  |  /  /
     |  | /  /
     |  |/  ;-._
     }  ` _/  / ;
     |  /` ) /  /
     | /  /_/\_/\
     |/  /      |
     (  ' \ '-  |
      \    `.  /
       |      |
       |      |

    Thanks for taking a look :)
    It's always nice to see you.
    Have a nice day!

    <3

    André
-->
