@import "compass/css3";

$rangeslider:           ".rangeslider";
$rangeslider__fill:     ".rangeslider__fill";
$rangeslider__handle:   ".rangeslider__handle";
$rangeslider__transition:   ".rangeslider__transition";
$rangeslider__transition__use:   true; // Set to false to disable transition.
$rangeslider__transition__speed:   ".25s";
$rangeslider__transition__type:   "ease-in-out";

#{$rangeslider},
#{$rangeslider__fill} {
    background: #e6e6e6;
    display: block;
    height: 20px;
    width: 100%;
    @include box-shadow(0px 2px 2px rgba(255,255,255,0.25), inset 0px 1px 3px rgba(0,0,0,0.3));
    @include border-radius(10px);
}

#{$rangeslider} {
    position: relative;
    
    @if $rangeslider__transition__use {
		&#{$rangeslider__transition} {
			#{$rangeslider__fill} {
				@include single-transition(width, #{$rangeslider__transition__speed}, #{$rangeslider__transition__type});
			}
			#{$rangeslider__handle} {
				@include single-transition(left, #{$rangeslider__transition__speed}, #{$rangeslider__transition__type});
			}
		}
	}
}

#{$rangeslider}--disabled {
    @include opacity(.4);
}

#{$rangeslider__fill} {
    background: #00ff00;
    position: absolute;
    top: 0;
}

#{$rangeslider__handle} {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    @include background-image(linear-gradient(rgba(white, 0), rgba(black, .10)));
    @include box-shadow(0 0 8px rgba(black, .3));
    @include border-radius(50%);

    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include background-image(linear-gradient(rgba(black, .13), rgba(white, 0)));
        @include border-radius(50%);
    }

    &:active {
        @include background-image(linear-gradient(rgba(black, .10), rgba(black, .12)));
    }
}

input[type="range"]:focus + #{$rangeslider} #{$rangeslider__handle} {
    @include box-shadow(0 0 8px rgba(#ff00ff, .9));
}
